<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Єдиний реєстр боржників</title>
    <link rel="icon" href="img/logo_min_just.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/amazium.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/pikaday.css">
    <link rel="stylesheet" type="text/css" href="css/print.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <object th:remove="tag" th:include="partials/scripts :: header" />
</head>

<body>

<header class="header ">
    <div class="row row--align-center">
        <div class="grid-4 txt-center">
            <img src="img/logo_min_just.png" class="img-left-my" width="160px">
        </div>
        <div class="grid-6">
            <h2 class="header-text">Єдиний реєстр боржників</h2>
        </div>
        <div class="grid-2 txt-center">
            <div class="grid-2 txt-center" id="loginBtn"></div>
        </div>
    </div>
</header>


<div class="content-area">
    <div id="mode"></div>

    <div class="div-border-bottom">
        <div class="row grid-12 ">
            <form action="javascript:void(0);">
                <fieldset class="hide-mobile">
                <span class="radio toggle">
                    <span onClick="window.location = 'search-debtor';">
                        <input type="radio" tabindex="6" name="mainPages" id="radioPage1" value="1">
                        <label for="radioPage1">
                            <span>Пошук боржника</span>
                        </label>
                    </span>
                    <span onClick="window.location = 'alimony-debtors';">
                        <input type="radio" tabindex="7" name="mainPages" id="radioPage2" value="2">
                        <label for="radioPage2">
                            <span>Заборгованість по аліментах</span>
                        </label>
                    </span>
                    <span onClick="window.location = 'wages-debtors';">
                        <input type="radio" tabindex="8" name="mainPages" id="radioPage3" value="3">
                        <label for="radioPage3">
                            <span>Заборгованість по заробітній платі</span>

                        </label>
                    </span>
                    <span onClick="window.location = 'child-dates-debtors';">
                        <input type="radio" tabindex="9" name="mainPages" id="radioPage4" value="4">
                        <label for="radioPage4">
                            <span>Боржники, що перешкоджають у побаченні з дитиною</span>

                        </label>
                    </span>
                </span>
                </fieldset>
                <fieldset class="show-mobile">
                <span class="select">
                  <select>
                    <option value="1">Пошук боржників</option>
                    <option value="2">Заборгованість по аліментах</option>
                    <option value="3">Заборгованість по заробітній платі</option>
                    <option value="4">Боржники, що перешкоджають у побаченні з дитиною</option>
                  </select>
                </span>
                </fieldset>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="grid-12">
            <div class=" row row--align-center">
                    <span>
                        <h3 class="text-center">Редагування профілю реєстратора</h3>
                        <div id="message"></div>
                    </span>
            </div>

            <div>
                <div>
                    <form id="updateForm">
                        <fieldset>
                            <label for="fullName">ПІБ реєстратора:</label>
                            <input type="text" id="fullName"
                                   placeholder="Прізвище Ім'я По-батькові" tabindex="1"
                                   autocomplete="off" required>
                        </fieldset>

                        <fieldset>
                            <label for="stateAgency">Назва державного органу, для якого створюється профіль
                                реєстратора:</label>
                            <input type="text" id="stateAgency" placeholder="Назва державного органу"
                                   tabindex="2" autocomplete="off" required>
                        </fieldset>


                        <fieldset>
                            <label for="email">Електронна адреса реєстратора:</label>
                            <input type="email" id="email"
                                   placeholder="Електронна адреса" tabindex="3"
                                   autocomplete="off" required>
                        </fieldset>

                        <fieldset>
                            <label for="phoneNumber">Номер телефону реєстратора:</label>
                            <input type="text" id="phoneNumber"
                                   placeholder="Номер телефону " tabindex="4"
                                   autocomplete="off" required>
                        </fieldset>

                        <fieldset>
                            <label for="password">Новий пароль для профілю реєстратора:</label>
                            <input type="password" id="password"
                                   placeholder="Новий пароль" tabindex="5"
                                   autocomplete="off"
                                   title="Пароль не може містити пробілів та знаків пунктуації!"
                                   pattern="^[a-zA-ZА-ЩЬЮЯҐЄІЇа-щьюяґєії0-9]*$">
                        </fieldset>

                        <div class="row row--align-left ">
                            <button class="btn btn--color-positive ng-hide" id="activateProfile" tabindex="6">
                                Активувати профіль
                            </button>
                            <button class="btn btn--color-negative ng-hide" id="deactivateProfile" tabindex="7">
                                Деактивувати профіль
                            </button>
                        </div>

                        <div class="row row--align-right ">
                            <button class="btn btn--color-info" id="cancelUpdate" tabindex="8">
                                Відмінити
                            </button>
                            <button class="btn btn--color-positive" id="submitUpdate" tabindex="9">
                                Зберегти
                            </button>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="grid-12 footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/update_profile.js"></script>
<script src="js/user.js"></script>

</body>

</html>
